<div class="panel panel-info">
    <!-- If openQuestions is not null and not empty -->
    {% if openQuestions %}
    <!-- Heading -->
    <div class="container-fluid panel-heading" style="padding: 0 !important">
        <div class="row" style="padding: 0 !important">
            <div class="col-xs-1" style="font-weight: 900; color: black">
                Date
            </div>

            <div class="col-xs-2" style="font-weight: 900; color: black">
                Course
            </div>

            <div class="col-xs-2" style="font-weight: 900; color: black">
                Assignment
            </div>

            <div class="col-xs-1" style="font-weight: 900; color: black">
                Language
            </div>

            <div class="col-xs-5" style="font-weight: 900; color: black">
                Question
            </div>

            <div class="col-xs-1"></div>
        </div>
    </div>

    {% include "./open_questions_content.html"%} {% else %}
    <div class="container-fluid panel-heading" style="padding: 0 !important">
        There are no unanswered questions. Try asking a question.
    </div>

    {% endif %}
</div>
