/*
|| INDEX NAVBAR ||
*/
.navbar {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: #000;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #fc0;
    color: white;
}

/*
|| INSTRUCTOR PAGE ||
*/
.instr-page {
  font-family: Mukta, sans-serif;
  border-collapse: collapse;
  padding-left: 2em;
  padding-right: 2em;
  width: 90%;
  margin: auto;
}

.instr-page .filter a {
  padding-right: 1em;
  align-items: center;
}

.instr-table {
  font-family: Mukta, sans-serif;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #4f546c;
  font-size: 0.9rem;
  background-color: #f9fbff;
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  text-align: left;
  overflow: hidden;
}

.instr-table tr:nth-child(even){
  background-color: #f2f2f2;
  font-weight: bold;
}

.instr-table tbody tr:hover {background-color: #e5f2f8;}

thead {
  box-shadow: 0 5px 10px #e1e5ee;
}

.instr-table th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}

.instr-table td {
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  border-bottom-color: #c7cdd1 !important
}

/*Queue Modal*/
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
