{% load crispy_forms_tags %}
<form id="ask-question-form" class="row g-3 turn-light" method="POST">
    {% csrf_token %}
    <div class="col-md-4">
        {{ form.course|as_crispy_field }}
    </div>
    <div class="col-md-8">
        </br>
      <!-- {{ form.in_person|as_crispy_field }} -->
    </div>
    <input type="hidden" name="replied_by" value="{{ user }}">
    <div class="col-12">
        {{ form.question|as_crispy_field }}
    </div>

    <div class="col-12">
        {% include "./ask_question_btn.html" %}
    </div>
</form>
