{% load crispy_forms_tags %}
<h1>Course: College of Computing Learning Center</h1>

<!-- <form method="GET">
    {{ form }}
    <input type="submit" value="Submit" />
</form> -->


<form class="row g-3" method="POST">
    <div class="col-md-4">
        {% csrf_token %}
        {{ form.course|as_crispy_field }}
    </div>
    <div class="col-md-8">
        </br>
        {{ form.in_person|as_crispy_field }}
    </div>
    <input type="hidden" name="replied_by" value="{{ user }}">
    <div class="col-12">
        {{ form.question|as_crispy_field }}
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn btn-success">Ask Question!</button>
    </div>
</form>

<hr />
