<h1>Course: College of Computing Learning Center</h1>

<!-- <form method="GET">
    {{ form }}
    <input type="submit" value="Submit" />
</form> -->


<form class="row g-3">

    <div class="col-md-4">
        <label for="inputState" class="form-label">Assignment:</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Language:</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>


    <div class="col-12">
        <label for="inputSubject" class="form-label">Subject:</label>
        <input type="text" class="form-control" id="subject" placeholder="What is your question?">
    </div>


    <div class="col-12">
        <label for="inputQuestion" class="form-label">Question:</label>
        <input type="text" class="form-control" id="inputQuestion"
            placeholder="Provide as much relevent detail as possible.">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn btn-success">Ask Question!</button>
    </div>
</form>

<hr />
