<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'question_queue/css/style.css' %}" />
  </head>
  <body class="dark-mode">
    <div id="in-queue" class="in_queue">
      <div class="in-queue-content">
          <header class="in-queue-header">
              CCLC Question Queue
          </header>
          <p>Your place in the queue: <i>nth</i></p>
          <footer class="in-queue-footer">
              Please wait for a coach or instructor to review your question.
          </footer>
      </div>
    </div>
  </body>
</html>
