{{ coach }}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Coach</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'question_queue/css/style.css' %}" />
    <script src="{% static 'question_queue/js/instructor.js' %}"></script>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'question_queue/css/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
    {% include "./bootstrap.html" %}
</head>
<body>
    <div class="instr-page">
        <br>
        <h1 class="turn-light">Coach Page</h1>
        <div class="filter" style="display: flex; flex-direction: row">
            <form action="" method="post">
                {% csrf_token %}
                <button name="filter_queue" value="open">Open Questions</button>
                <button name="filter_queue" value="answered">Answered Questions</button>
                <button name="filter_queue" value="question-queue">Question Queue</button>
            </form>
        </div>

        <table id="queue-table">
        </table>
    </div>

    <!-- WebSocket Javascript -->
    <script>
        function hookQueueEntries() {
            document.querySelectorAll(".queue-entry").forEach((e) => {
            e.addEventListener("submit", (e) => {
                websocket.send(
                    JSON.stringify({
                        action: e.submitter.name,
                        args: {
                            question_id: e.target.id,
                        }
                    })
                );
                e.preventDefault();
            });
          });
        }

        const websocket = new WebSocket("ws://" + window.location.host + "/ws/coach/");

        websocket.onmessage = (e) => {
            const template = document.createElement("template");
            template.innerHTML = e.data.trim();
            for (const node of template.content.childNodes) {
                const dom_node = document.getElementById(node.id);
                if (dom_node){
                    dom_node.outerHTML = node.outerHTML;
                }
            }
            hookQueueEntries();
        };

        websocket.onclose = (e) => {
          console.error("Socket closed unexpectedly");
        };
      </script>
</body>
</html>
