{{ coach }}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
    <title>Coach</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'question_queue/css/style.css' %}" />
    <script src="{% static 'question_queue/js/instructor.js' %}"></script>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'question_queue/css/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
    {% include "./bootstrap.html" %}
</head>
<body>
    <div class="instr-page">
        <br>
        <h1 class="turn-light">Coach Page</h1>
        <div class="filter" style="display: flex; flex-direction: row">
            <form action="" method="post">
                {% csrf_token %}
                <input type="button" onclick="window.location.href='http://127.0.0.1:8000/coach/';" name="filter_queue" value= "Open Questions"/>
                <input type="button"  onclick="window.location.href='http://127.0.0.1:8000/coach/';" name="filter_queue" value="Answered Questions"/>
                <input type="button" onclick="window.location.href='http://127.0.0.1:8000/coach/';" name="filter_queue" value="Question Queue"/>
            </form>
        </div>

        <table class="instr-table">
            <colgroup>
                <col span="1" style="width: 5%" />
                <col span="1" style="width: 10%" />
                <col span="1" style="width: 10%" />
                <col span="1" style="width: 70%" />
                <col span="1" style="width: 5%" />
            </colgroup>
            <thead>
                <tr class="header"
                    data-href="http://127.0.0.1:8000/coach/">
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Course</th>
                    <th scope="col">Question</th>
                    <th scope="col">Created</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                {% with "#Row"|add:question.id|add:"Modal" as modalID %}
                {% with page="http://127.0.0.1:8000/coach/" modal_id=modalID %}
                {% with question_id=question.id student_name=question.name class=question.class %}
                {% with question_body=question.message time=question.time %}
                {% with "Row"|add:question.id|add:"Modal" as modalID %}
                {% include "./question_modal.html" with id=modalID name=question.name question_body=question.message user=user question=question.id %}
                {% include "./question_table_row.html" %}
                {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    </div>


</body>
</html>
