{{ instructor }}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
        <title>Instructor</title>
        {% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% load static %}
        <script src="{% static 'question_queue/js/instructor.js' %}"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"
        ></script>

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'question_queue/css/style.css' %}"
        />

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="instr-page" align ="center">
            <h1>Welcome, {{user}}, to the Instructor page</h1>
            <div class="filter" style="display: flex; flex-direction: row">
                <a href="http://127.0.0.1:8000/instructor/"
                    >Open Questions</a
                >
                <a href="http://127.0.0.1:8000/instructor/"
                    >Answered Questions</a
                >
                <a href="http://127.0.0.1:8000/instructor/"
                    >Question Queue</a
                >
            </div>

            <table class="instr-table">
                <colgroup>
                    <col span="1" style="width: 5%" />
                    <col span="1" style="width: 10%" />
                    <col span="1" style="width: 10%" />
                    <col span="1" style="width: 70%"/>
                    <col span="1" style="width: 5%" />
                </colgroup>
                <thead>
                    <tr
                        class="header"
                        data-href="http://127.0.0.1:8000/instructor/"
                    >
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Course</th>
                        <th scope="col">Question</th>
                        <th scope="col5">Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                    {% with "#Row"|add:question.id|add:"Modal" as modalID %}
                    {% with page="http://127.0.0.1:8000/instructor/" modal_id=modalID %}
                    {% with question_id=question.id student_name=question.name class=question.class %}
                    {% with question="I don't know how to?" time=question.time %}
                    {% include "./question_table_row.html" %}
                    {% endwith %} {% endwith %} {% endwith %} {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% for question in questions %}
        {% with "Row"|add:question.id|add:"Modal" as modalID %}
        {% include "./question_modal.html" with id=modalID name=question.name question_body=question.message user=user question=question.id %}
        {% endwith %}
        {% endfor %}

    </body>
</html>
