<!--
    Variables:
        id = question id + Modal
        label_id =
        name = student's name
        question_body = the question being asked

 -->

 {% load crispy_forms_tags %}
<div
    class="modal fade"
    id="{{id}}"
    tabindex="-1"
    role="dialog"
    aria-labelledby="{{label_id}}"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{label_id}}">{{ name|add:"'s question" }}</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <form method="post">
            <div class="modal-body">
                {{question_body}}
                <hr>
                  {% comment %} <div class="mb-3">
                    <textarea class="form-control" placeholder="Your Answer" id="text-area" style="height: 100px"></textarea>
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="mark-solved">
                    <label class="form-check-label" for="mark-solved">Mark as Solved</label>
                  </div> {% endcomment %}
                  <input type="hidden" name="replied_by" value="{{ user }}">
                  <input type="hidden" name="question" value="{{ question }}">
                  {% csrf_token %}
                  {{ form|crispy }}
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                >
                    Close
                </button>
                <button type="submit" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </form>
        </div>
    </div>
</div>
