{{ student }}
<!DOCTYPE html>
<html lang="en">

<style>
.cclc_butn{
  background-color: #0285ce;
  color: white;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
}
</style>

<head>
    {% block title %}
    <title>Student</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static './question_queue/css/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
    {% include "./bootstrap.html" %}
    <style>
        .container{
            border: 3px solid #198754;
            padding-top: 0px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 30px;
        }

        .col-md-8 {
            padding-top: 15px;
            padding-bottom: 30px;
        }

    </style>
</head>

<body id="body">
    <header>
        <label class="toggle-dark hidden">
            <input type="checkbox" id="toggle-dark hidden" />
            <span class="slider">
        </label>
    </header>

    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert alert-success alert-dismissible" role="alert" >
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    {% endfor %}

    <div class="container">

        <br />
        <div class="m-2 d-flex flex-row rounded">
            <div class="m-2 turn-light">
                <spam style="color: #0285ce; text-decoration: underline">Ask A Question:</spam>
                Be detailed in your description of the problem. Your Instructor,
                Teaching Assistant, or a CCLC Coach will respond as quickly as possible.
            </div>

        </div>

        <!-- Ask a question -->
        {% load crispy_forms_tags %}
        <h1 class="turn-light">College of Computing Learning Center</h1>

        <form class="row g-3 turn-light" method="POST">
            <div class="col-md-4">
                {% csrf_token %}
                {{ form.course|as_crispy_field }}
            </div>
            <div class="col-md-8">
                </br>
             {{ form.in_person|as_crispy_field }}
            </div>
            <input type="hidden" name="replied_by" value="{{ user }}">
            <div class="col-12">
                {{ form.question|as_crispy_field }}
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-success">Ask Question!</button>
            </div>
        </form>

        <hr class="turn-light" />

        <!-- Include row 2 -->
        <div class="questions_content" class="col-xs-12 col-sm-8"></div>

        <a href="https://www.mtu.edu/computing/cclc/" target="_blank" class="cclc_butn">Visit CCLC <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E" style="margin-bottom: 6px; margin-left: 2px"></a>


    </div>

</body>
</html>
